@import url("../css/default.css");
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this based on your layout */
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 100%;
    /* Additional styles if needed */
  }
  .hips-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #808080; /* Grey color */
    border-radius: 50%;
    text-align: center;
    line-height: 1.5;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 45%; /* Adjust the positioning based on your layout */
    left: 48%; /* Adjust the positioning based on your layout */
    transition: background-color 0.3s;
    border: 5px solid #b4b4b4; /* Darker grey border */
}
.hips-tooltip {
    display: none;
    position: absolute;
    top: 45%; 
    left: 50%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 15%; /* Adjust the width as needed */
    word-wrap: break-word;
}

.hips-button:hover + .hips-tooltip {
    display: flex;
}
.neck-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #808080; /* Grey color */
    border-radius: 50%;
    text-align: center;
    line-height: 1.5;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 23%; /* Adjust the positioning based on your layout */
    left: 42%; /* Adjust the positioning based on your layout */
    transition: background-color 0.3s;
    border: 5px solid #b4b4b4; /* Darker grey border */
}
.neck-tooltip {
    display: none;
    position: absolute;
    top: 23%; 
    left: 25%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 15%; /* Adjust the width as needed */
    word-wrap: break-word;
}

.neck-button:hover + .neck-tooltip {
    display: flex;
}
.knee-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #808080; /* Grey color */
    border-radius: 50%;
    text-align: center;
    line-height: 1.5;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 56%; /* Adjust the positioning based on your layout */
    left: 40%; /* Adjust the positioning based on your layout */
    transition: background-color 0.3s;
    border: 5px solid #b4b4b4; /* Darker grey border */
}
.knee-tooltip {
    display: none;
    position: absolute;
    top: 56%; 
    left: 24%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 15%; /* Adjust the width as needed */
    word-wrap: break-word;
}

.knee-button:hover + .knee-tooltip {
    display: flex;
}
.ankle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #808080; /* Grey color */
    border-radius: 50%;
    text-align: center;
    line-height: 1.5;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 76%; /* Adjust the positioning based on your layout */
    left: 40%; /* Adjust the positioning based on your layout */
    transition: background-color 0.3s;
    border: 5px solid #b4b4b4; /* Darker grey border */
}
.ankle-tooltip {
    display: none;
    position: absolute;
    top: 76%; 
    left: 24%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 15%; /* Adjust the width as needed */
    word-wrap: break-word;
}
.ankle-button:hover + .ankle-tooltip {
    display: flex;
}
.arms-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #808080; /* Grey color */
    border-radius: 50%;
    text-align: center;
    line-height: 1.5;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 28%; /* Adjust the positioning based on your layout */
    left: 52%; /* Adjust the positioning based on your layout */
    transition: background-color 0.3s;
    border: 5px solid #b4b4b4; /* Darker grey border */
}
.arms-tooltip {
    display: none;
    position: absolute;
    top: 28%; 
    left: 54%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 15%; /* Adjust the width as needed */
    word-wrap: break-word;
}

.arms-button:hover + .arms-tooltip {
    display: flex;
}
